body {
    background-color: #eeeff1;

}

.container {
    max-width: 500px;
}

#my_pic {
    width: 100%;
    border-radius: 10px;

}

.box1-txt {
    max-width: 70%;
}

.box {
    max-width: 70%;
}

.box2-txt {
    max-width: 50%;
}

.box3-txt {
    max-width: 70%;
}